@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Rubik:wght@300;400&display=swap');
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Rubik', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}


